
@{
    ViewBag.Title = "Asiakasryhmät";
}

@section head{
    }

@section scripts{
    <script type="text/javascript">
        $(document).ready(function () {

            function listaaAsiakasryhmät() {

                //tuo asiakasryhmäluokkien tiedot kontrollerilta
                $.getJSON("/Asiakasryhmaluokka/GetList", null, function (json) {
                    var asiakasryhmat = JSON.parse(json)


                    //luodaan html-taulukon sisältörunko
                    var html = "";
                    for (var i = 0; i < asiakasryhmat.length; i++) {
                        //alert("Asiakasryhmän nimi: " + asiakasryhmat[i].RyhmäNimi);
                        html += "<tr>" +
                            "<th scope ='row'></th>"+
                            "<td>" + asiakasryhmat[i].RyhmäId + "</td>" +
                            "<td>" + asiakasryhmat[i].RyhmäNimi + "</td>" +
                            "<td>" + asiakasryhmat[i].RyhmäKuvaus + "</td>" +
                            "<td><a href='#'><span class='fa fa-edit'></span></a></td>" +
                            "<td><a href='#'><span class='fa fa-trash'></span></a></td>" +
                            "</tr>\r\n"
                    }
                    //alert(html);

                    //täytetään taulukko
                    $("#Listaustaulukko tbody").html(html);
                });
            }

            
            $('#Listaa').on('click', function () {
                listaaAsiakasryhmäluokat();
            });
        });
    </script>
}

<h2>Asiakasryhmät</h2>

<div>
    <a class="btn btn-primary" href="#" role="button" id="Listaa">Listaa asiakasryhmät</a>
    <a class="btn btn-primary" href="#" role="button" id="Lisää">Lisää asiakasryhmä</a>
</div>


<!-- Taulukko tietoja varten -->


    <table class="table table-striped" id="Listaustaulukko">
        <thead class="thead-light">
            <tr>
                <th scope="col"></th>
                <th scope="col">AsiakasryhmäId</th>
                <th scope="col">Ryhmän nimi</th>
                <th scope="col">Ryhmän kuvaus</th>
                <th scope="col">Muokkaa</th>
                <th scope="col">Poista</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>


