@{
    ViewBag.Title = "Home Page";
}


<div class="row">
    <div class="col-md-4">
        <h2> </h2>
        </div>
        
        
    <div class="col-md-4">
        <h2>CRM etusivu</h2>
            </div>

    <div class="col-md-4">
        <h2> </h2>
        </div>
</div>